.album {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 25px;
    padding: 0 1rem 1rem;
}

.album figure img {
    width: 95%;
    max-width: 300px;
    display: block;
    margin: 1rem auto;
    height: auto;
    border-radius: 0.5rem;
    border: var(--white) 0.5rem solid;
}

.album figure:nth-child(even) {
    background-color: var(--accentuation-2);
}

.album figure figcaption {
    text-align: center;
}

h2 {
    text-align: center;
    margin: 1.25rem 1.25rem 2rem;
    padding: 0.80rem;
    color: var(--black);
    background-color: var(--secondary-color);
    border: var(--white) 0.5rem solid;
    justify-self: center;
}