:root {
    --heading-font: "Roboto Mono", monospace;
    --color-3: #ff9494;
}

* {
    font-family: var(--heading-font);
}

main {
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    background-color: black;
    animation: fade 15s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

footer {
    background-color: var(--color-3);
    text-align: center;
    padding: 2rem;
}