@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: var(--heading-font);
}

:root {
    --heading-font: "Roboto Mono", monospace;
    --paragraph-font: "Roboto", sans-serif;

    --color-1: #565068;
    --color-2: #2e2b38;
    --color-3: #748CAB;
    --color-4: #FEFFFE;
    --color-5: #333;
}

body {
    padding: 3rem;
    display: grid;
    grid-template: 10rem 15rem 10rem / auto auto;
}

header {
    grid-column: 1 / 5;
    background-color: var(--color-2);
    text-align: left;
    color: var(--color-4);
}

nav {
    background-color: var(--color-1);
    color: var(--color-4);
}

main {
    grid-column: 1 / 4;
    background-color: var(--color-3);
    text-align: left;
    color: var(--color-4);
}

aside {
    grid-column: 4 / 5;
    background-color: var(--color-4);
    text-align: left;
    color: var(--color-5);
}

footer {
    grid-column: 1 / 5;
    background-color: var(--color-2);
    text-align: center;
    color: var(--color-4);
}

.navigation {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-5);
    align-items: center;
    font-family: var(--paragraph-font);
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    color: var(--color-4);
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
}

.navigation a:hover {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: var(--color-4);
}

h1,
h2,
p {
    padding: 0.5rem 1rem 4rem 1rem;
}